*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    margin: 50px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.menu_wrap {
    text-align: center;
}

.menu_wrap .dep1 > li{
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.menu_wrap .dep2 {
    display: none;
}

.menu_wrap .dep2 a{
    display: block;
    padding: 30px;
}

.menu_wrap .dep1 > li > a{
    display: block;
    padding: 30px;
}

.menu_wrap .dep1 > li:hover > .dep2 {
    display: block;
}

.menu_wrap .dep1 > li a:hover {
    background-color: black;
    color: white;
    transition-duration: 0.7s;
}

.menu_wrap .dep2 > li a:hover {
    background-color: black;
    color: white;
    transition-duration: 0.7s;
}

.main_section1 {
    margin: 0 auto;
}

.main_section1 #sec1_tb {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-collapse: collapse;
    margin: 0 auto;
    width: 70%;
}

.main_section1 #sec1_tb thead tr th {
    border-bottom: 1px solid gray;
    padding: 10px;
}

.main_section1 #sec1_tb tbody tr td {
    text-align: center;
    padding: 20px;
}

.main_section2 {
    margin-top: 40px;
}

.main_section2 #sec2_tb {
    margin: 0 auto;
    border-collapse: collapse;
    width: 70%;
    border: 1px solid lightgray;
}
/*











*/

#sec1_tbody #tr_x td {
    border-bottom: 1px solid lightgray;
}

#sec1_tbody #tr_x .like_btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #e6ebfd;
    border: 1px solid gray;
}

#sec1_tbody #tr_x .like_btn:hover {
    background-color: #c2d2fe;
}

#sec1_tbody #tr_x .like_btn:active {
    background-color: #94affd;
}

.main_section2 #sec2_tb tbody tr th, #sec2_tb tbody tr td {
    text-align: center;
}

#sec2_tb tbody tr td {
    padding: 20px;
}

#sec2_tb textarea {
    width: 100%;
    height: 100px;
    resize: none;
    overflow:hidden;
    border:1px solid lightgray;
}

.sec2_box {
    width: 50%;
    height: 30px;
    border:1px solid lightgray;
}

#sec2_tb textarea:focus {
    outline: none;
}

.sec2_box:focus {
    outline: none;
}

#sec2_tb_btn {
    width: 100px;
    height: 50px;
    background-color: #F6F6F6;
    font-weight: bold;
    border:1px solid gray;
    border-radius: 5%;
    cursor: pointer;
}