#wrap {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}

header {
    width: 1000px;
    height: 100px;
    background-color: #111;
}

nav {
    width: 1000px;
    height: 100px;
    background-color: #222;
}

aside {
    width: 300px;
    height: 600px;
    float:left;
    background-color: #333;
}

section {
    width: 700px;
    height: 600px;
    float: left;
    background-color: #444;
}

footer {
    width: 1000px;
    height: 100px;
    clear:both;
    background-color: #555;
}