body{
    background: #b71c1c;
    color: #fff;
}

/* 화면 너비가 0 ~ 1280px */
@media (max-width: 1280px){
    body {
        background: #880e4f;
    }
}

/* 화면 너비가 0 ~ 1024px */
@media (max-width: 1024px){
    body{
        background: #4a148c;
    }
}

/* 화면 너비가 0 ~ 960px */
@media (max-width: 960px){
    body{
        background: #311b92;
    }
}

/* 화면 너비가 0 ~ 768px */
@media (max-width: 768px){
    body{
        background: #4a148c;
    }
}